<h1>About Us</h1>
<p>Ini halaman about us</p>
<img src="./img/about.jpg" class="rounded float-start" alt="" width="50%" height="50%">

<p>Kim Min-ji was born on May 7, 2004, in Chuncheon, Gangwon Province, South Korea.
    [1][2] She is the middle of three children, with a younger sister and an older brother who attends Kyung Hee University, 
    the latter of whom she revealed while performing at a music festival hosted by the university.[3] During her elementary years, 
    she learned English while studying abroad in Canada as a homestay transfer student.[4][5] Minji attended Hanlim Multi Art School, where she graduated in February 2023.[2]
    Minji debuted as a member of the South Korean girl group NewJeans with the surprise-released music video for their debut single "Attention" on July 22, 2022,
    without any prior promotion or information on the group's lineup.[9][10] NewJeans quickly rose to widespread popularity with the success of their following singles: 
    "Hype Boy", "OMG", and "Ditto", the latter of which featured lyrics written by Minji.[11][12] "Ditto" became NewJeans's first entry on Billboard Hot 100 and won Song of the Year at the MAMA Awards, 
    the Melon Music Awards, the Golden Disc Awards, and the Asia Artist Awards.[13][14][15][16]
</p>
